/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

.superHeavyColor {
  color: green;
}

@layer utilities {
  .glow {
    animation-name: glow;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes glow {
    from {
      text-shadow:none;
    }

    to {
      text-shadow:0 0 20px silver;
    }
  }
}
