---
import Presentable from "../components/Presentable.astro";
---

<html lang="en">
  <meta charset="UTF-8" />
  <link rel="icon" href="gift.svg" />
  <title>Alles Liebe</title>

  <body>
    <main
      class="flex h-screen bg-black w-full justify-center items-center text-justify text-red-500 text-9xl font-bold"
    >
      <div class="relative">
        <Presentable id="0" nextId="1" border={false}>
          Herzlichen Glückwunsch
        </Presentable>
        <Presentable id="1" nextId="2" border={false}>
          Zum 70. Geburtstag
        </Presentable>
        <Presentable id="2" nextId="3" border={false}>Liebe Mama</Presentable>
        <Presentable id="3" nextId="0" border={false}>❤</Presentable>
      </div>
    </main>
  </body>
</html>
